<div class="line"></div>
<div class="gender-container">
  <span class="txt-small">Gender</span>
  <span class="checkbox checkbox-container txt-font14-black children">
    <input type="checkbox" class="checkbox" [(ngModel)]="boySelected">
    <span (click)="boySelected = !boySelected" class="checkmark"></span>
    <img src="../../assets/boy.svg">
  </span>
  <span class="checkbox checkbox-container txt-font14-black children">
    <input type="checkbox" class="checkbox" [(ngModel)]="girlSelected">
    <span (click)="girlSelected = !girlSelected" class="checkmark"></span>
    <img src="../../assets/girl.svg">
  </span>
</div>
<div class="line"></div>
<div class="age-container">
  <span class="txt-small">Age</span>
  <span class="age-view">{{value}}-{{highValue}}</span>
</div>
<div class="custom-slider">
  <ng5-slider [(value)]="value" [(highValue)]="highValue" [options]="options"></ng5-slider>
</div>
<div class="line"></div>
<div class="input-holder">
  <div class="txt-small">Income levels (per year)</div>
  <ng-multiselect-dropdown [placeholder]="''" [data]="incomes" [(ngModel)]="selectedIncomes"
    [settings]="dropdownSettings">
  </ng-multiselect-dropdown>
  <div class="txt-small">Education</div>
  <ng-multiselect-dropdown [placeholder]="''" [data]="educations" [(ngModel)]="selectedEducations"
    [settings]="dropdownSettings">
  </ng-multiselect-dropdown>
  <div class="txt-small">Religion</div>
  <ng-multiselect-dropdown [placeholder]="''" [data]="religions" [(ngModel)]="selectedReligions"
    [settings]="dropdownSettings">
  </ng-multiselect-dropdown>
  <div class="txt-small">Ethnicity</div>
  <ng-multiselect-dropdown [placeholder]="''" [data]="ethnicities" [(ngModel)]="selectedEthnicities"
    [settings]="dropdownSettings">
  </ng-multiselect-dropdown>
</div>
