img {
  width: 19.6px;
  height: 34.6px;
  margin-left: 10px;
}
.gender-container {
  display: inline-flex;
  width: 80%;
  margin: 0;
  margin-right: 20%;
}
.age-container {
  display: inline-flex;
  width: 80%;
  margin: 1rem 0;
  margin-right: 20%;
  line-height: 6px;
}
.children {
  margin-left: 20px;
  padding-left: 20px;
}
.age-view {
  width: 81px;
  height: 26px;
  border-radius: 13px;
  background-color: #7698ff;
  margin: auto;
  color: white;
  font-size: 14px;
  line-height: 28px;
}
.checkmark {
  position: absolute;
  top: 10px;
  left: 3px;
  width: 15px;
  height: 15px;
  border: solid 1px #979797;
  border-radius: 50%;
  background-color: transparent;
}
// We need to use ::ng-deep to overcome view encapsulation
::ng-deep {
  .custom-slider .ng5-slider .ng5-slider-bar {
    background: #7698ff;
    height: 1px;
  }
  .custom-slider .ng5-slider .ng5-slider-selection {
    background: #7698ff;
  }
  .custom-slider .ng5-slider .ng5-slider-model-value,
  .custom-slider .ng5-slider .ng5-slider-model-high {
    display: none;
  }
  .custom-slider .ng5-slider .ng5-slider-pointer {
    width: 19px;
    height: 19px;
    border: solid 1px #7698ff;
    background-color: #fcfcfc;
    top: -10px;
    outline: none;
  }

  .custom-slider .ng5-slider .ng5-slider-pointer:after {
    display: none;
  }

  .custom-slider .ng5-slider .ng5-slider-bubble {
    bottom: 14px;
  }
  .ng5-slider .ng5-slider-bubble.ng5-slider-limit,
  .custom-slider .ng5-slider .ng5-slider-limit {
    color: #676767 !important;
    font-size: 12px;
  }
  .ng5-slider .ng5-slider-bar-wrapper {
    left: 20px !important;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: -16px;
    padding-top: 16px;
    width: 80% !important;
    height: 32px;
    z-index: 1;
  }
  .custom-slider .ng5-slider .ng5-slider-tick {
    width: 1px;
    height: 10px;
    margin-left: 4px;
    border-radius: 0;
    background: #ffe4d1;
    top: -1px;
  }

  .custom-slider .ng5-slider .ng5-slider-tick.ng5-slider-selected {
    background: #7698ff;
  }
}
::ng-deep {
  .multiselect-dropdown {
    color: #878787;
    font-size: 14px !important;
    outline: none;
    width: 290px;
    height: 50px;
    border-radius: 6px;
    border: solid 1px #7698ff;
    background-color: #fff;
  }
  .multiselect-dropdown .dropdown-btn {
    border: none !important;
    margin-top: 3%;
  }
  .multiselect-dropdown .dropdown-btn .dropdown-down {
    border-top: 7px solid #8a8a8a !important;
    border-left: 3px solid transparent !important;
    border-right: 3px solid transparent !important;
  }
  .multiselect-dropdown .dropdown-btn .dropdown-up {
    display: none !important;
  }
  .multiselect-item-checkbox input[type="checkbox"] + div:before {
    border-radius: 50% !important;
    border-color: #7698ff !important;
  }
  .country-select .country-list {
    font-size: 14px !important;
  }
}
