.summary{
    margin-top:32px;
    display: flex;
    flex-direction: column;
}
.skip{
    margin-top:23px;
    text-align: center;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.71;
        letter-spacing: -0.08px;
        text-align: center;
        color: #7698ff;
        text-decoration: underline;
}
.step{
    margin-top:4rem;
}