.upload-header {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #000000;
    text-align: left;
  }
  .upload-content {
    height: 40px;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    text-align: left;
    letter-spacing: normal;
    color: #676767;
  }
  .upload-btn {
    width: 100.4px;
    height: 45px;
    background-color: #7698ff;
  }