.upload-header {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #000000;
  text-align: left;
  margin-top: 14px;
}
.upload-content {
  height: 40px;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  text-align: left;
  letter-spacing: normal;
  color: #676767;
}
.upload-btn {
  font-size: 14px !important;
  color: #ffffff !important;
  width: 100.4px;
  height: 45px;
  line-height: 20px;
  position: absolute;
  right: 0px;
  top: 0px;
}
img {
  max-width: 400px;
  max-height: 400px;
  margin: 50px;
}
.file-input {
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
  opacity: 0;
}
.img-delete {
  width: 15px;
  height: auto;
  position: absolute;
  right: 1.1rem;
  top: 7.8rem;
  margin: 0;
  cursor: pointer;
}
.img-delete-bkg {
  width: 37px;
  height: 37px;
  opacity: 0.27;
  background-color: #cacaca;
  position: absolute;
  right: 0;
  top: 7rem;
  border-radius: 50%;
}
.color-btn-holder{
    display:flex;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 3rem;
    justify-content: space-evenly;
    flex-basis: auto;
}
.color-btn {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  
}
.selected-color{
  border: solid 1px #979797;
  transform: scale(1.1);
}
.color-btn-red{
    color: #f14f4f  !important;
}
.color-btn-orange{
    color: #f1a54f !important;
}
.color-btn-yellow{
    color: #f9e721 !important;
}
.color-btn-green{
    color: #27de2d !important;
}
.color-btn-blue{
    color: #5c91ff !important;
}
.color-btn-purple{
    color: #af3fd9 !important;
}


.pure-material-radio {
  z-index: 0;
  position: relative;
  display: inline-block;
  color: red;
  font-size: 16px;
  margin: 0px 1rem;
}

/* Input */
 .pure-material-radio > input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  z-index: -1;
  position: absolute;
  left: -10px;
  top: -8px;
  display: block;
  margin: 0;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: red;
  outline: none;
  opacity: 0;
  transform: scale(1);
  pointer-events: none;
  transition: opacity 0.3s, transform 0.2s;
} 

/* Span */
.pure-material-radio > span {
  display: inline-block;
  width: 100%;
  cursor: pointer;
}

/* Circle */
.pure-material-radio > span.color-btn-green::before{
  content: "";
  display: inline-block;
  box-sizing: border-box;
  margin: 2px 10px 2px 0;
  border: none ;/* Safari */
  background-color: #27de2d;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  vertical-align: top;
  transition: border-color 0.2s;
}
.pure-material-radio > span.color-btn-green::after {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 0;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: solid 2px; /* Safari */
  border-color: #27de2d;
  transform: translate(5px, 5px) scale(0);
  transition: transform 0.2s;
}

.pure-material-radio > span.color-btn-purple::before{
  content: "";
  display: inline-block;
  box-sizing: border-box;
  margin: 2px 10px 2px 0;
  border: none ;/* Safari */
  background-color: #af3fd9;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  vertical-align: top;
  transition: border-color 0.2s;
}
.pure-material-radio > span.color-btn-purple::after {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 0;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: solid 2px; /* Safari */
  border-color: #af3fd9;
  transform: translate(5px, 5px) scale(0);
  transition: transform 0.2s;
}

.pure-material-radio > span.color-btn-blue::before{
  content: "";
  display: inline-block;
  box-sizing: border-box;
  margin: 2px 10px 2px 0;
  border: none ;/* Safari */
  background-color: #5c91ff;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  vertical-align: top;
  transition: border-color 0.2s;
}
.pure-material-radio > span.color-btn-blue::after {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 0;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: solid 2px; /* Safari */
  border-color: #5c91ff;
  transform: translate(5px, 5px) scale(0);
  transition: transform 0.2s;
}

.pure-material-radio > span.color-btn-yellow::before{
  content: "";
  display: inline-block;
  box-sizing: border-box;
  margin: 2px 10px 2px 0;
  border: none ;/* Safari */
  background-color: #f9e721;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  vertical-align: top;
  transition: border-color 0.2s;
}
.pure-material-radio > span.color-btn-yellow::after {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 0;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: solid 2px; /* Safari */
  border-color: #f9e721;
  transform: translate(5px, 5px) scale(0);
  transition: transform 0.2s;
}

.pure-material-radio > span.color-btn-orange::before{
  content: "";
  display: inline-block;
  box-sizing: border-box;
  margin: 2px 10px 2px 0;
  border: none ;/* Safari */
  background-color: #f1a54f;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  vertical-align: top;
  transition: border-color 0.2s;
}
.pure-material-radio > span.color-btn-orange::after {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 0;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: solid 2px; /* Safari */
  border-color: #f1a54f;
  transform: translate(5px, 5px) scale(0);
  transition: transform 0.2s;
}
.pure-material-radio > span::before {
  content: "";
  display: inline-block;
  box-sizing: border-box;
  margin: 2px 10px 2px 0;
  border: none ;/* Safari */
  background-color: red;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  vertical-align: top;
  transition: border-color 0.2s;
}

/* Check */
.pure-material-radio > span::after {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 0;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: solid 2px; /* Safari */
  border-color: red;
  transform: translate(5px, 5px) scale(0);
  transition: transform 0.2s;
}

/* Checked */
.pure-material-radio > input:checked {
  background-color: red;
}

.pure-material-radio > input:checked + span::before {
  border-color: red;
}

.pure-material-radio > input:checked + span::after {
  transform: translate(-3px, -3px) scale(1);
}

/* Hover, Focus */
.pure-material-radio:hover > input {
  //opacity: 0.04;
}

.pure-material-radio > input:focus {
  //opacity: 0.12;
}

.pure-material-radio:hover > input:focus {
 // opacity: 0.16;
}

/* Active */
.pure-material-radio > input:active {
  opacity: 1;
  transform: scale(0);
 // transition: transform 0s, opacity 0s;
}

.pure-material-radio > input:active + span::before {
  border-color: red;
}

/* Disabled */
.pure-material-radio > input:disabled {
  opacity: 0;
}

.pure-material-radio > input:disabled + span {
  color: red;
  cursor: initial;
}

.pure-material-radio > input:disabled + span::before {
  border-color: currentColor;
}

.pure-material-radio > input:disabled + span::after {
  background-color: currentColor;
}
