<div style="margin-top:100px">
  <div class="txt-caps">Thank you!</div>
  <div class="txt-caps txt-font14-black">PAYMENT COMPLETED SUCCESSFULY</div>
  <img class="center-img" src="../../assets/rounded-checkbox.svg" />
  <div class="txt-small txt-center">We are now working to get you answers<br>
    The resultes will be delover to your Email <br>
    in the next 24 hrs</div>
    <div class="txt-small" style="margin-top:58px;font-size:12px;text-align: center">Check your email for invoice</div>
  </div>
  <a href="/intro" class="btn-blue start-btn">Start a new surevry</a>

