<div class="text-box">
  <h1 class="header">
    <span class="header-primary">create a free</span>
    <span class="header-primary">account</span>
  </h1>
</div>

<div class="social-buttons">
  <a  id="google-button" class="btn-google"
    href="https://www.linkedin.com/oauth/v2/authorization?response_type=code&client_id=776im3xq8cf4md&redirect_uri={{ hostUrl }}/login&state=fooobar&scope=r_liteprofile%20r_emailaddress%20w_member_social">
    Sign in with Google
  </a>
  <a  id="linkedin-button" class="btn-linkedin"
    href="https://www.linkedin.com/oauth/v2/authorization?response_type=code&client_id=776im3xq8cf4md&redirect_uri={{ hostUrl }}/login&state=fooobar&scope=r_liteprofile%20r_emailaddress%20w_member_social">
    Sign in with LinkedIn
  </a>
  <a  id="linkedin-button" class="btn-microsoft"
    href="https://www.linkedin.com/oauth/v2/authorization?response_type=code&client_id=776im3xq8cf4md&redirect_uri={{ hostUrl }}/login&state=fooobar&scope=r_liteprofile%20r_emailaddress%20w_member_social">
    Sign in with Microsoft
  </a>
  <a  id="linkedin-button" class="btn-facebook"
    href="https://www.linkedin.com/oauth/v2/authorization?response_type=code&client_id=776im3xq8cf4md&redirect_uri={{ hostUrl }}/login&state=fooobar&scope=r_liteprofile%20r_emailaddress%20w_member_social">
    Sign in with Facebook
  </a>
</div>
