<div class="text-box">
  <h1 class="header">
    <span class="header-primary">create a free</span>
    <span class="header-primary">account</span>
  </h1>
</div>
<div style="margin-top:14rem;">
  <div class='row'>
    <div class='column'>
      <a id="google-button" class="btn-google"
        href="https://accounts.google.com/o/oauth2/v2/auth?access_type=offline&scope=https://www.googleapis.com/auth/userinfo.profile%20https://www.googleapis.com/auth/userinfo.email&response_type=code&client_id=504131472976-h165f9mk368n2j5ghccn572kok4oh5t3.apps.googleusercontent.com&redirect_uri=http%3A%2F%2Flocalhost%3A4200%2Flogin&state=google">
        Google
      </a>
      <div class='column'>
        <a id="linkedin-button" class="btn-linkedin"
          href="https://www.linkedin.com/oauth/v2/authorization?response_type=code&client_id=776im3xq8cf4md&redirect_uri={{ hostUrl }}/login&state=linkedin&scope=r_liteprofile%20r_emailaddress%20w_member_social">
          LinkedIn
        </a>
      </div>
    </div>
    <div class='column'>
      <a id="linkedin-button" class="btn-microsoft"
        (click)="loginWithSocial('Microsoft')">
        Microsoft
      </a>
      <div class='column'>
        <a id="linkedin-button" class="btn-facebook"
          href="https://www.linkedin.com/oauth/v2/authorization?response_type=code&client_id=776im3xq8cf4md&redirect_uri={{ hostUrl }}/login&state=fooobar&scope=r_liteprofile%20r_emailaddress%20w_member_social">
          Facebook
        </a>
      </div>
    </div>
  </div>
<div class="separator-text">or create a free acount</div>
<div class="email-password-holder">
  <input type="text" [(ngModel)]="email" placeholder="Email"/>
</div>
<div>
  <input type="password" [(ngModel)]="password" placeholder="Password"/>
</div>
<div>
  <a id="password-login-button" class="btn-login"
    (click)="loginWithPassword()">
    Login
  </a>
</div>
</div>
