.example-radio-button {
  margin: 5px;
}
img {
  width: 32px;
}
.input-holder {
  display: flex;
  flex-direction: column;
}


/* Create the checkmark/indicator (hidden when not checked) */
/* .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
 */
/* Show the checkmark when checked */
// .container input:checked ~ .checkmark:after {
//   display: block;
// }

/* Style the checkmark/indicator */
// .container .checkmark:after {
//   left: 9px;
//   top: 5px;
//   width: 5px;
//   height: 10px;
//   border: solid white;
//   border-width: 0 3px 3px 0;
//   -webkit-transform: rotate(45deg);
//   -ms-transform: rotate(45deg);
//   transform: rotate(45deg);
// }
::ng-deep {
  .multiselect-dropdown {
    color: #878787;
    font-size: 14px !important;
    outline: none;
    width: 290px;
    height: 50px;
    border-radius: 6px;
    border: solid 1px #7698ff;
    background-color: #fff;
  }
  .multiselect-dropdown .dropdown-btn {
    border: none !important;
    margin-top: 3%;
  }
  .multiselect-dropdown .dropdown-btn .dropdown-down {
    border-top: 7px solid #8a8a8a !important;
    border-left: 3px solid transparent !important;
    border-right: 3px solid transparent !important;
  }
  .multiselect-dropdown .dropdown-btn .dropdown-up {
    display:none !important;
  }
  .multiselect-item-checkbox input[type="checkbox"] + div:before {
    border-radius: 50% !important;
    border-color: #7698ff !important;
  }
  .country-select .country-list{
    font-size:14px !important;
  }
}
