<div class="input-holder">
  <div *ngIf="stepItem.title && stepItem.title.length" class="txt-small">{{stepItem.title}}
    <span *ngIf="isSummaryMode">
      <a class="edit" *ngIf="stepItem.itemType != 'add' && !stepItem.isEditing"
        (click)="stepItem.isEditing = !stepItem.isEditing">Edit</a>
      <a class="edit" *ngIf="stepItem.itemType != 'add' && stepItem.isEditing"
        (click)="stepItem.isEditing = !stepItem.isEditing">Done</a>
    </span>
    
  </div>
  <i *ngIf="stepItem.tooltip && stepItem.isEditing === true" class="info" popoverClass="popover" [openDelay]="300" [closeDelay]="500" 
    ngbPopover="{{stepItem.tooltip}}" placement="left"></i>
 
  <div *ngIf="stepItem.isEditing === true">
    <input *ngIf="stepItem.itemType==='input'" class="input-box txt-small-place-holder" type="text"
      [(ngModel)]="selection" placeholder="{{stepItem.placeHolder}}" />
      <input *ngIf="stepItem.itemType==='name'" class="input-box txt-small-place-holder" type="text"
      [(ngModel)]="svcSurvey.selectedName" placeholder="{{stepItem.placeHolder}}" />
    <select *ngIf="stepItem.itemType==='select'" class="txt-small-place-holder" [(ngModel)]="selection">
      <option *ngFor="let item of stepItem.items">{{item}}</option>
    </select>
    <select *ngIf="stepItem.itemType==='select-parents'" class="txt-small-place-holder"
      [(ngModel)]="selectedCategoryHeader" (ngModelChange)="updateChildren()">
      <option *ngFor="let item of stepItem.items">{{item.key}}</option>
    </select>
    <div *ngFor="let subCategory of svcSurvey.selectedCategory.subs;let i = index;">
      <select *ngIf="stepItem.itemType==='select-category'" class="txt-small-place-holder margin-bottom-5"
        [(ngModel)]="subCategory.selectedChild" (ngModelChange)="updateChildSelection(subCategory.selectedChild)">
        <option *ngFor="let item of subCategory.children">{{item}}</option>
      </select>
    </div>
    <div *ngFor="let sub of svcSurvey.selectedBusiness.subs;let i = index;">
      <select *ngIf="stepItem.itemType==='select-business'" class="txt-small-place-holder margin-bottom-5"
        [(ngModel)]="sub.selectedChild" (ngModelChange)="updateChildSelection(sub.selectedChild)">
        <option *ngFor="let item of sub.children">{{item}}</option>
      </select>
    </div>
    <div *ngFor="let sub of svcSurvey.selectedResearch.subs;let i = index;">
      <select *ngIf="stepItem.itemType==='select-research'" class="txt-small-place-holder margin-bottom-5"
        [(ngModel)]="sub.selectedChild" (ngModelChange)="updateChildSelection(sub.selectedChild)">
        <option *ngFor="let item of sub.children">{{item}}</option>
      </select>
    </div>
    <input id="country" *ngIf="stepItem.itemType==='country'" type="text" class="input-box txt-small-place-holder"
      [(ngModel)]="selection" />
    <div *ngIf="stepItem.itemType==='add'" name="add" class="add-sub">
      <img src="../../assets/contact-add.svg" (click)="addSubItem(stepItem.itemTypeToAdd)">
      <span class="txt-font14 txt-font14-black">{{stepItem.addTitle}}</span>
      <i *ngIf="stepItem.tooltip" class="info" popoverClass="popover" [openDelay]="300" [closeDelay]="500" 
    ngbPopover="{{stepItem.tooltip}}" placement="left"></i>
    </div>
    <div *ngIf="stepItem.itemType==='cbGroup'" name="targetAudience">
      <div class="checkbox checkbox-container txt-font14-black">
        <input type="checkbox" class="checkbox" [(ngModel)]="isForSelfDistribution">
        For self distribution
        <span (click)="isForSelfDistribution = !isForSelfDistribution" class="checkmark"></span>
      </div>
      <div class="checkbox checkbox-container txt-font14-black">
        <input type="checkbox" class="checkbox" [(ngModel)]="showTargetAudience">
        Specify target audience
        <span (click)="showTargetAudience = !showTargetAudience" class="checkmark"></span>
      </div>
    </div>
  </div>

  <div *ngIf="stepItem.isEditing === false" [ngSwitch]="stepItem.itemType" class="txt-small summary-txt">
    <div *ngSwitchCase="'name'">{{svcSurvey.selectedName}}</div>
    <div *ngSwitchCase="'select'">{{selection}}</div>
    <div *ngSwitchCase="'country'">{{selection}}</div>
    <div *ngSwitchCase="'select-parents'">{{selectedCategoryHeader}}</div>
    <div *ngSwitchCase="'select-category'">
      <div *ngFor="let subCategory of svcSurvey.selectedCategory.subs;let i = index;">
        {{subCategory.selectedChild}}
      </div>
    </div>
    <div *ngSwitchCase="'select-business'">
      <div *ngIf="selection && selection.length">
        {{selection[0].selectedChild}}
      </div>
    </div>
    <div *ngSwitchCase="'select-research'">
      <div *ngIf="selection && selection.length">
        {{selection[0].selectedChild}}
      </div>
    </div> 
    <div *ngSwitchDefault></div>
    
  </div>
  <app-target-audience *ngIf="showTargetAudience"></app-target-audience>
  <app-brand *ngIf="stepItem.itemType==='brand'"></app-brand>
  <ng-multiselect-dropdown *ngIf="stepItem.itemType==='select-multi'" [placeholder]="''" [data]="stepItem.items"
    [(ngModel)]="stepItem.selectedItems" [settings]="dropdownSettings">
  </ng-multiselect-dropdown>
  <!-- <div class="line"></div> -->
</div>
