
<div class="input-holder">
  <div *ngIf="stepItem.title && stepItem.title.length" class="txt-small">{{stepItem.title}}</div>
    <input *ngIf="stepItem.itemType==='input'" class="input-box txt-small-place-holder" type="text" [(ngModel)]="selection" placeholder="{{stepItem.placeHolder}}" />
    <select *ngIf="stepItem.itemType==='select'" class="txt-small-place-holder" [(ngModel)]="selection">
      <option *ngFor="let item of stepItem.items">{{item}}</option>
    </select>
    <select *ngIf="stepItem.itemType==='select-parents'" class="txt-small-place-holder" [(ngModel)]="selectedCategoryHeader" (ngModelChange)="updateChildren()">
      <option *ngFor="let item of stepItem.items">{{item.key}}</option>
    </select>
    <select *ngIf="stepItem.itemType==='select-children'" class="txt-small-place-holder" [(ngModel)]="svcSurvey.selectedSubCategory" (ngModelChange)="updateChildSelection(selectedChild)">
      <option *ngFor="let item of svcSurvey.selectedCategory.children">{{item}}</option>
    </select>
    <input id="country" *ngIf="stepItem.itemType==='country'" type="text" class="input-box txt-small-place-holder" [(ngModel)]="selection"/>
    <div *ngIf="stepItem.itemType==='add'" name="add" class="txt-font14 txt-font14-black"><img src="../../assets/add.png" (click)="addSubCategory()">Add a sub category</div>
</div>