.container {
  margin-top: 6rem;
  font-size: 2.4rem;
  width: 100%;
}
.header {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 3.5rem;
}
P {
  display: block;
  text-align: center;
  margin:0 !important;
  line-height: 1.43;
}
.header-secondary {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: -0.1px;
  text-align: center;
  color: #000000;
  margin-bottom: 3.2rem;
}
.login-container {
  margin-top: 4rem !important;
}
// a {
//   background-position: 0.5em;
//   background-repeat: no-repeat;
//   background-size: 1.8em;
//   border-radius: 0.8rem;
//   color: white;
//   cursor: pointer;
//   height: 5rem;
//   padding: 0rem 0em 0 1.5em;
//   text-decoration: none;
//   transition: all 0.5s;
//   text-align: center;
//   font-size: 1.6rem;
//   margin: 1rem;
//   margin-right: 0.7rem;
//   line-height: 5rem;
// }
.btn-create {
  transform: translate(-50%, 0px);
  position: static;
  margin-top: 80%;
  margin-left: 50%;
}

.btn-login:create {
  background-color: #4c70ba;
}
.btn-login:create {
  background-color: #2d4373;
}
