<div class="container">
  <h2 class="header-secondary">Hi, {{user.firstName}}</h2>
  <div>
    <p class="txt-caps">YOU ARE FEW STEPS AWAY </p>
    <p class="txt-caps">FROM GETTING</p>
    <p class="txt-caps">THE ANSWERS YOU NEED</p>
    <p class="txt-caps">IN ORDER TO MAKE</p>
    <p class="txt-caps">BETTER DECISIONS</p>
    <p class="txt-caps">FOR YOUR BUSINESS</p>
  </div>
  <div style="position: relative">
    <div class="img-container" style="width: 7rem;
        height: auto;
        margin: auto;
        margin-bottom: 3rem;
        margin-top: 3.2rem;">
      <img src="../../assets/screen-3.svg" style="width:7rem;">
    </div>
  </div>
</div>
<div class="login-container">
  <a class="btn btn-blue" href="/new-survey">
    <span class="txt-font14 txt-font14-white txt-center">Create a survey</span>
  </a>
</div>
