.step{
    display: flex;
      flex-direction: column;
      //max-height: 56rem;
      max-width: 30rem;
  }
  .step-title{
    margin-bottom: 2rem;
  }
  .step-header {
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: -0.07px;
    text-align: center;
    color: #676767;
  }