.steps {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
.survey-step {
  width: 30rem;
  margin: 30px;
}
.btn-apply{
  margin-bottom: 50px;
    line-height: 22px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0px);
}
