
<div style="position: relative">
  <div class="img-container">
    <img src="../../assets/welcome.png" alt="Image Place Holder">
  </div>
</div>
<p class="txt-caps">
  FIND OUT WHAT PEOPLE 
  <br>ARE THINKING ABOUT
  <br>YOUR BRAND OR BUSINESS
  <br>WITHOUT ASKING DIRECT
  <br>QUESTIONS
</p>

<p class="txt-small" style="text-align: center">
  How it works?
</p>
<div class="start-survey">Start a Survey</div>
<div class="buttons-container">
  <a class="btn btn-blue" href="/register">Sign Up Free</a>
</div>
<div class="buttons-container">
  <a class="signin" href="/login">Sign In</a>
</div>
