
<div style="position: relative">
  <div class="img-container">
    <img alt="Image Place Holder">
  </div>
  <h1>Gettings Answers<br> without asking <br>any questions.</h1>
</div>
<p class="unique">
  NeuroApplied is a unique survey platform.
  <br>It can help you get fast and quality answers.
  <br>No more filling up forms and inventing questions,
  <br>Just define what would you like to reveal,
  <br>And get the real answers within 24 hrs.
</p>

<p class="unique single">
  Want to find out more?
</p>

<div class="buttons-container">
  <a class="btn" style="background-color: #0b5d9b" href="/login">SIGN IN</a>
  <a class="btn" style="background-color: #f36c2a" href="/register">SIGN UP</a>
</div>
