h1 {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  line-height: 30px;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 20px;
}

img {
  width: 13rem;
  height: auto;
}

.img-container {
  width: 13rem;
  height: auto;
  margin: auto;
  margin-top: 8rem;
  margin-bottom: 3rem;
}

.signin {
  color: black;
  text-decoration: underline;
  font-size: 1.6rem;
  text-align: center;
  width: 100%;
}
.start-survey {
  margin-top: 3.2rem;
  margin-bottom: 1rem;
  font-size: 18px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}


.buttons-container {
  display: flex;
  margin-top: 3.5rem;
}

