<div style="position: relative">
  <div class="img-container">
    <img alt="Image Place Holder">
  </div>
  <h1>Gettings Answers<br> without asking <br>any questions.</h1>
</div>
<p class="unique">
  NEUROapplied unique SURVEY PLATFORM will help you get fast and quality answers 
  no more forms and inventing questions
just  define what would you like to reveal and get the real answers in 24 hr
</p>

<p class="unique single">
  Want to find out more?
</p>

<div class="buttons-container">
<a class="btn" href="/register">SIGN UP</a>
<a class="btn" href="/login">SIGN IN</a>
</div>